*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (min-width:800px){
    #artist-information-container{
        height:  95%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}