*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#top-song-container{
    /*grid container*/
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
}

@media only screen and (min-width:800px){
    #top-song-container{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-gap: 1rem;
        grid-template-columns: repeat(2,1fr);
    }
}